{% extends "base.html" %}
{% block title %}Search Results{% endblock %}
{% block content %}
<form action="/add-meal" method="post">
	<div class="mb-3">
		<label for="name"><strong>Meal Name:</strong></label>
		<input type="text" id="name" name="name" required class="form-control" />
	</div>

	<div class="mb-3">
		<label for="calories"><strong>Calories:</strong></label>
		<input type="number" id="calories" name="calories" required class="form-control" />
	</div>

	<div class="mb-3">
		<button type="submit" class="btn btn-primary">Log Meal</button>
	</div>
</form>
{% endblock %}
